* {
  box-sizing: border-box;
}

.box {
  height: 130px;
  width: 130px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 4px;
  border-radius: 5px;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 15px;
}

.nav--bar {
  display: flex;
  align-items: center;
  height: 40px;
  background: linear-gradient(180deg, #A626D3 1.18%, #D5D4D8 100%);
  color: white;
  padding: 15px;
}

.nav--links {
  font-size: 1.1rem;
  margin: 0;
  padding: 10px;
  color: aliceblue;
  font-family: "Karla", sans-serif;
}

.header--image {
  height: 120%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: .75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme--image {
  max-width: 100%;
  padding: 10px;
}

